[Unit]
Description=Adafruit-retrogame
DefaultDependencies=no 
Before=local-fs-pre.target
Wants=local-fs-pre.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2
User=root
ExecStart=/boot/retrogame

[Install]
WantedBy=sysinit.target

